/*----------------- Primary CSS -----------------*/
	
	/*Text*/
h2  {
	
}

	/*DROPDOWN CSS*/
		.dropdown {
			float: left;
			width: 100%;
			position: relative;
			padding-bottom: 1em;
			
		}

		.dropdown input[type=checkbox] {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			cursor: pointer;
		}

		.dropdown label {
			cursor: pointer;



		}

		.dropdown label:before {
			content: "See more";
			position: absolute;
			bottom: -0.5em;
			opacity: 0.4;
			
		}

		.dropdown input[type=checkbox]:checked ~ label:before {
			opacity: 0;
		}

		.dropdown .text {
			max-height: 0;
			-webkit-transition: max-height 1s; 
			-moz-transition: max-height 1s; 
			-ms-transition: max-height 1s; 
			-o-transition: max-height 1s; 
			transition: max-height 1s;  
			overflow: hidden;

		}

		.dropdown input[type=checkbox]:checked ~ .text {
			max-height: 100vw;
		}