/*----------------- Primary CSS -----------------*/

/*Background and Styling*/



/*Text*/


/*DROPDOWN CSS*/

.dropdown {
  float: left;
  width: 100%;
  position: relative;
  padding: 1em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	height: 100%;
	&:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
	
	.dropimg {
		max-width: 30%;
		float: right;
		margin-right: auto;
		
	}
	
  input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
		
  }
  label {
    cursor: pointer;
		padding: 0.5em;
    &:before {
      content: "See more";
			position: absolute;
			display: inline-block;
      bottom: 0.5em;
      opacity: 0.4;
			box-shadow: 1em;
    }
  }
  input[type=checkbox]:checked ~ label:before {
    opacity: 0.4;
		content: "^";
		position: sticky;
		font-size: 2em;
		left: -1em;
		top: 1em;
		bottom: 5em;
  }
  .text {
    max-height: 0;
    -webkit-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
    overflow: hidden;
		float: left;
		padding: 0 0.5em;
  }
  input[type=checkbox]:checked ~ .text {
		-webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    -ms-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s;
    max-height: 100vw;
  }
	input[type=checkbox]:checked ~ .dropimg {
		display: none;
		max-width: none;
	}
}
